<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.prj.voicegame">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.VoiceGame"
        tools:targetApi="31">

        <activity
            android:name=".public_classes.activities.FinalActivity"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".fish_game.FishGameActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".public_classes.activities.ResultActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".public_classes.activities.PlayerSelectionActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".car_game.CarGameActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".public_classes.activities.SelectGameActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".public_classes.services.BackgroundMusicService"/>


    </application>

</manifest>